<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRAYSScoreboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SRAYSScoreboard.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>HotTrack</value>
            </setting>
            <setting name="HeaderLabelsColor" serializeAs="String">
                <value>HotTrack</value>
            </setting>
            <setting name="ColumnHeadersColor" serializeAs="String">
                <value>HotTrack</value>
            </setting>
            <setting name="NameLabelsColor" serializeAs="String">
                <value>LightSteelBlue</value>
            </setting>
            <setting name="TimeLabelsColor" serializeAs="String">
                <value>LightSteelBlue</value>
            </setting>
            <setting name="PlaceLabelsColor" serializeAs="String">
                <value>LightSteelBlue</value>
            </setting>
            <setting name="LaneLabelsColor" serializeAs="String">
                <value>LightSteelBlue</value>
            </setting>
            <setting name="PoolLaneCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="UseLaneNumberingZeroToNine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenSaverDisplayOption" serializeAs="String">
                <value>AsciiArt</value>
            </setting>
            <setting name="ScreenSaverInactivityMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScreenSaverManualActivation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenSaverExitOnData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenSaverExitOnKeyPress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenSaverLogoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenSaverScrollingMessage" serializeAs="String">
                <value>Welcome to Silver Rays Swim Club</value>
            </setting>
            <setting name="ScreenSaverBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ScreenSaverExitOnMouseMove" serializeAs="String">
                <value>True</value>
            </setting>
        </SRAYSScoreboard.Properties.Settings>
    </userSettings>
</configuration>
